#background-image{
    background-size: cover;
  
}
#test{
    color:red;
}
body{
    background-image: url('https://insurebestlife.com/public');
   
    background-size: cover;
    background-repeat: no-repeat;
}
.text-position{
    width:50%;
    padding-right: 50%;
}
.padBtn {
       padding: 20px;
      }
#image{
    margin: 1em 0 0 0;
        display: inline-block;
        width: 600px;
        max-width: 100%;
        box-shadow: 0 0 10px RGBA(0, 0, 0, .5);
}
.qualify{
    padding:10px;
    background-color: aqua;
    margin-top: 13px;
    font-weight:bolder;
    
}